/**
* state控件
**/
.state{
    color: white;
    border-radius: 3px;
    font-size: 10px;
    margin-left:10px;
    padding: 1px 5px;
}
.state-plan{
    background: #c0c0c0;
}
.state-ongoing{
    background: #4dcc3e;
}
.state-end{
    background: #ff6666;
}
.tip{
    color: #c0c0c0;
    font-size: 10px;
    margin-left: 10px;
}

/**
* 段落的样式
*/
p.paragraph{
    text-indent:2em;
    margin: 5px 0px;
}

/**
* 菜单栏的样式
*/
.ml-menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #2fa4e7;
}

.ml-menu-container ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.ml-menu-container .nav>li {
    display: inline-block;
    vertical-align: top;
}

.ml-menu-container .nav>li>a>.fa {
    vertical-align: text-top;
    padding-left: 8px;
    font-size: 14px;
}

.ml-menu-container .nav>li>a>.fa.menu-logo {
    vertical-align: baseline;
    margin-right: 5px;
    font-size: 18px;
}
.ml-menu-container ul a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 14px;
}

.ml-menu-container>ul>li>a {
    padding: 0px 15px;
    height: 46px;
    line-height: 46px;
}

.ml-menu-container .drop-down-content>li>a {
    color: #666;
    height: 30px;
    line-height: 30px;
    padding: 5px 0px;
}

.ml-menu-container .drop-down-content {
    float: left;
    z-index: 1000;
    position: absolute;
    width: 150px;
    padding: 0;
    display: none;
    border: 1px solid #eee;
    border-top: 0px;
    background: white;
    box-shadow: 0 10px 10px #eee;
}

.ml-menu-container>ul>li:hover>a {
    background: #178acc;
}

.ml-menu-container .drop-down-content li:hover a {
    background-color: #2fa4e7;
    color: white;
}

.ml-menu-container .nav .drop-down:hover .drop-down-content {
    display: block;
}
/**
 * 隐藏page-header
 */
.page-header{
    display: none;
}